<mat-card class="book-card">
    <mat-card-header>
        <mat-card-title>{{ book.name }}</mat-card-title>
        <mat-card-subtitle>{{ book.price }}</mat-card-subtitle>
        <div [ngClass]="{ 'book-card__available': book.isAvailable }">{{ book.isAvailable ? "Yes" : "No" }}</div>
    </mat-card-header>
    <mat-card-content>
        {{ book.description }}
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-mini-fab color="primary" (click)="onAddToCart(book)">
            <mat-icon>add_shopping_cart</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
