<header class="header">
    <nav class="header__nav">
        <ul class="header__links">
            <li class="header__nav-item">
                <a routerLink="/books" routerLinkActive="active">Books</a>
            </li>
            <li class="header__nav-item">
                <a routerLink="/cart" routerLinkActive="active">Cart</a>
            </li>
            <li class="header__nav-item">
                <a routerLink="/order" routerLinkActive="active">Order</a>
            </li>
            <li class="header__nav-item">
                <a routerLink="/admin" routerLinkActive="active">Admin</a>
            </li>
        </ul>
    </nav>
</header>
<main>
    <router-outlet></router-outlet>
</main>
<footer></footer>
